
      html, body {
        min-height: 100%;
        }
        main{
          min-height: 80vh;
        }
    
  /* background index*/
    .articlemes{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    }
    
    .textmess {
        padding:7%;
    }

    .textmess h2{
        font-size:4em;
    }

    .articlemes p{
      font-size: 2em;
    }

    h1 {
    position: absolute;
    margin: 0;
    font-size: 40px;
    color: #fff;
    z-index: 2;
    line-height: 83px;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
    .sign {
    width: 30%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px  #090088; 
    }
    .banner {
    position: relative;
    height: 300px;
    background-image: url("../ressources/eric-zemmour-fusil-a-la-main-la-reine-elizabeth-ii-melee-malgre-elle-a-la-polemique.jpg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.2); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
    input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }

    .item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #ff0000;
    color: #0d0085;
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    .item span {
    color: red;
    }
    .btn-block {
    text-align: center;
    }
    button {
    width: 20%;
    padding: 0.35%;
    border: none;
    border-radius: 5px; 
    background: #ff0000;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background: #03009b;
    }
    .navbar-toggler{
      width:10%;
    }
    .col-auto{
      width:50%;
    }

    .planning{
      color: rgb(55, 28, 141);
      position: relative;
      top:10%;
      width: 75%;
    }

    .plan {
      /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-17%,0); */
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1;
    }
    .plan td{
      border: 1px solid red;
      width: 1%;
      
    }
.plan tr{
  text-align: center;
  font-size:0.8em;
}
    .plan a{
      text-decoration: none;
      color: black;
      text-align: center;
    }